<div class="main-section">
    <div class="container table-container p-30">
        <h2 class="color-dark mb-50 text-center font-30 main-title"> Compose Message </h2>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="addUserForm mb-50">
                    <form #msgData="ngForm" (submit)="onSubmit(msgData.value)">
                        <div class='row mb-30'>
                            <div class="col-sm-6">
                                <input 
                                    type='text' 
                                    placeholder="Sender's Name" 
                                    ngModel name="senderName" 
                                    [value]="senderName"
                                    />
                            </div>
                            <div class="col-sm-6">
                                <input 
                                    type='tel' 
                                    placeholder="Sender's Phone" 
                                    ngModel name="senderPhone" 
                                    [value]="senderPhone"
                                    />
                            </div>
                        </div>
                        <div class="row mb-30">
                            <div class="col-sm-12">
                                <textarea>{{message}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-lg back-4 color-1" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="messageAlert">
    <div class="alert alert-success animated fadeOut delay-2s" *ngIf='msgFlag == "sent"'>
        <strong>Success!</strong> Message is sent.
    </div>
    <div class="alert alert-danger animated fadeOut delay-2s" *ngIf='msgFlag == "notSent"'>
        <strong>Error!</strong> Message not sent.
    </div>
</div>