<div class="main-section">
    <div class="container table-container p-30">
        <h2 class="color-dark mb-50 text-center font-30 main-title"> Add New User Form </h2>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="addUserForm mb-50">
                    <form
                        #userData="ngForm" 
                        (submit)="onSubmit(userData.value)" >
                        <div class='row mb-30'>
                            <div class="col-sm-6">
                                <input 
                                    type='text' 
                                    placeholder="Name" 
                                    name="name" 
                                    ngModel [value]="userName" />
                            </div>
                            <div class="col-sm-6">
                                <input 
                                    type='tel' 
                                    placeholder="Phone" 
                                    name="phone" 
                                    ngModel [value]="phoneNumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-lg back-4" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="messageAlert">
    <div class="animated fadeOut delay-2s alert alert-danger" *ngIf='userName == "invalid"'>
        Please Enter Username
    </div>
    <div class="animated fadeOut delay-2s alert alert-danger" *ngIf='phoneNumber == "invalid"'>
        Please Enter Phone
    </div>
    <div class="animated fadeOut delay-2s alert alert-danger" *ngIf='userFlag == "not_user"'>
        User Not Added
    </div>
    <div class="animated fadeOut delay-2s alert alert-success" *ngIf='userFlag == "user_added"'>
        User Added Successfull
    </div>
    <div class="animated fadeOut delay-2s alert alert-success" *ngIf='userFlag == "user_updated"'>
        User Updated Successfull
    </div>
</div>