<div class="main-section">
    <div class="container table-container p-30">
        <h2 class="mb-30 color-dark font-30 main-title"> {{title}} </h2>
        <table #dataTable class="display table back-white table-bordered no-margin">
            <thead class="back-2">
                <tr>
                    <th class="color-white text-center"> Sr. No. </th>
                    <th class="color-white"> Rx Name </th>
                    <th class="color-white"> Rx Phone </th>
                    <th class="color-white"> Message </th>
                    <th class="color-white text-center"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of messageList; let i = index'>
                    <td class="text-center"> {{i + 1}} </td>
                    <td> {{item.recieverName}} </td>
                    <td> {{item.recieverPhone}} </td>
                    <td> {{item.message}} </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger" (click)='deletemsg(item.id)'> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>