/* You can add global styles to this file, and also import other style files */
/* Global */
a,
a:hover { text-decoration: none; color: #222; }

/* Fonts */
.font-20 { font-size: 20px; line-height: 20px; }

/* H/W Spacing */
.full-height { height: 100%; }
.full-width { width: 100%; }

/* Padding Spacing */
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-30 { padding: 30px; }

.pt-40 { padding-top: 40px; }

.pb-40 { padding-bottom: 40px; }

/* Margin Spacing */
.no-margin { margin: 0px; }

.mr-10 { margin-right: 10px; }

.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }

.ml-40 { margin-left: 40px; }
.ml-60 { margin-left: 60px; }
.ml-80 { margin-left: 80px; }
.ml-100 { margin-left: 100px; }
.ml-120 { margin-left: 120px; }
.ml-140 { margin-left: 140px; }
.ml-160 { margin-left: 160px; }
.ml-200 { margin-left: 200px; }
  
/* Backgrounds */
.back-white { background-color: #ffffff; }
.back-light-grey { background-color: #f5f5f5; }
.back-grey { background-color: #f0f0f0; }
.back-dark-grey { background-color: #e0e0e0; }
.back-teal { background-color: #02c6d8; }
.back-red { background-color: #E74443; }
.back-dark { background-color: #222; }
.back-darker{ background-color: #111; }

/* Colors */
.color-white { color: #ffffff !important; }
.color-light-grey { color: #f5f5f5 !important; }
.color-grey { color: #f0f0f0 !important; }
.color-dark-grey { color: #e0e0e0 !important; }
.color-yellow { color: #ffd900 !important; }
.color-teal { color: #02c6d8 !important; }
.color-red { color: #E74443 !important; }
.color-dark { color: #222 !important; }
.color-darker{ color: #111 !important; }

/* Alignment */
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.ibm { display: inline-block; vertical-align: middle; }
.align-center { align-items: center; }