/* You can add global styles to this file, and also import other style files */
/* Global */
a,
a:hover { text-decoration: none; color: #222; }

/* Fonts */
.font-20 { font-size: 20px; line-height: 20px; }
.font-30 { font-size: 30px; line-height: 30px; }

/* H/W Spacing */
.full-height { height: 100%; }
.full-width { width: 100%; }

/* Padding Spacing */
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-30 { padding: 30px; }

.pt-40 { padding-top: 40px; }

.pb-40 { padding-bottom: 40px; }

/* Margin Spacing */
.no-margin { margin: 0px; }

.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }

.mr-10 { margin-right: 10px; }

.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }

.ml-40 { margin-left: 40px; }
.ml-60 { margin-left: 60px; }
.ml-80 { margin-left: 80px; }
.ml-100 { margin-left: 100px; }
.ml-120 { margin-left: 120px; }
.ml-140 { margin-left: 140px; }
.ml-160 { margin-left: 160px; }
.ml-200 { margin-left: 200px; }
  
/* Backgrounds */
.back-white { background-color: #ffffff; }
.back-light-grey { background-color: #f5f5f5; }
.back-grey { background-color: #f0f0f0; }
.back-dark-grey { background-color: #e0e0e0; }
.back-teal { background-color: #02c6d8; }
.back-yellow { background-color: #ffd900 !important; }
.back-red { background-color: #C74A4A; }
.back-dark { background-color: #222; }
.back-darker{ background-color: #111; }

.back-1 { background-color: #2c3531; }
.back-2 { background-color: #116466; }
.back-3 { background-color: #d9b08c; }
.back-4 { background-color: #ffcb9a; }
.back-5 { background-color: #d1e8e2; }

/* Colors */
.color-white { color: #ffffff !important; }
.color-light-grey { color: #f5f5f5 !important; }
.color-grey { color: #f0f0f0 !important; }
.color-dark-grey { color: #e0e0e0 !important; }
.color-yellow { color: #ffd900 !important; }
.color-teal { color: #02c6d8 !important; }
.color-red { color: #C74A4A !important; }
.color-dark { color: #222 !important; }
.color-darker{ color: #111 !important; }

.color-1 { color: #2c3531; }
.color-2 { color: #116466; }
.color-3 { color: #d9b08c; }
.color-4 { color: #ffcb9a; }
.color-5 { color: #d1e8e2; }

/* Alignment */
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.ibm { display: inline-block; vertical-align: middle; }
.align-center { align-items: center; }

/* Forms */
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea {
    background: #eee;
    color: #333;
    line-height: 50px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px 10px;
}
input[type='text']::placeholder,
input[type='tel']::placeholder,
input[type='email']::placeholder,
input[type='number']::placeholder,
textarea::placeholder { color: #333 !important; }
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'] { height: 50px; }
input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='number']:focus { border-color: #02c6d8; outline: 0px; }
textarea { height: 150px; }

.side-header a:hover { color: #d9b08c !important; }
.side-header a.pageActive { color: #ffcb9a !important; font-weight: 700; }

/* Alert Box */
.messageAlert { position: absolute; top: 80px; right: 40px; }
.messageAlert .alert-success { background: #116466; border-color:#116466; color: #d1e8e2; }
.messageAlert .alert-danger { background: #C74A4A; border-color:#C74A4A; color: #d1e8e2; }

/* Main Section */
.main-section { height: calc(100vh - 44px); overflow-y: auto; }
.main-title:after {
    content:  '';
    display: block;
    width: 100px;
    height: 4px;
    background: #2b6566;
    margin-top: 20px;
}
.main-title.text-center:after {
    margin-left: auto;
    margin-right: auto;
}

/* Table */
.table-container .dataTables_length,
.table-container .dataTables_filter { margin-bottom: 10px; }
.table-container .dataTables_filter input { 
    border: 1px solid #ccc;
    border-radius: 4px;
}
.table-container table.dataTable.no-footer { 
    border: 1px solid #dee2e6 !important; 
    border-collapse: collapse; 
}
.table-container .display th,
.table-container .display td { padding: 12px !important; vertical-align: middle; }
.table-container .display td { background-color: #fff !important; }
.table-container .display td:first-child { width: 10%; }
.table-container .display td:nth-child(2),
.table-container .display td:nth-child(3) { width: 20%; }
.table-container .dataTables_paginate { margin-top: 20px; }
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button { font-size: 14px; padding: 7px 10px !important; line-height: 14px !important; margin: 0px 10px 10px 0px; }
.table-container .dataTables_wrapper .dataTables_paginate .previous,
.table-container .dataTables_wrapper .dataTables_paginate .next,
.table-container .dataTables_wrapper .dataTables_paginate .previous:hover,
.table-container .dataTables_wrapper .dataTables_paginate .next:hover { background: #f8ca99 !important; color: #111 !important; border: 0px !important; }
.table-container .dataTables_wrapper .dataTables_paginate .previous.disabled,
.table-container .dataTables_wrapper .dataTables_paginate .next.disabled { opacity: 0.6; }
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.table-container .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background: #2b6566 !important; color: #fff !important; border: 0px !important; }
.table-container .dataTables_wrapper .dataTables_paginate > span > .paginate_button,
.table-container .dataTables_wrapper .dataTables_paginate > span > .paginate_button:hover { background: transparent !important; border: 0px !important; color: #2b6566 !important; }
.table-container .dataTables_wrapper .dataTables_paginate > a:last-child { margin: 0px; }