<nav class="side-header">
    <!-- Brand/logo -->
    <p class="mb-30 mt-30"> <a class="nav-link color-5 font-30" routerLink=''><strong> CONTACT</strong> LIST</a> </p>
    <p class="no-margin"> <a class="nav-link color-5" routerLinkActive='pageActive' routerLink='contactList'>Contact List</a> </p>
    <p class="no-margin"> <a class="nav-link color-5" routerLinkActive='pageActive' routerLink='messageList'>Message List</a> </p>
    <p class="no-margin"> <a class="nav-link color-5" routerLinkActive='pageActive' routerLink='addUser'>Add User </a> </p>
</nav>