<div class="main-section">
    <div class="container table-container p-30">
        <h2 class="mb-30 color-dark font-30 main-title"> {{title}} </h2>
        <table class="table back-white table-bordered no-margin">
            <thead class="back-2">
                <tr>
                    <th class="color-white text-center"> User Id</th>
                    <th class="color-white"> User Name </th>
                    <th class="color-white"> Phone </th>
                    <th class="color-white text-center"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of list'>
                    <td class="text-center"> {{item.id}} </td>
                    <td> {{item.name}} </td>
                    <td> {{item.phone}} </td>
                    <td class="text-center">
                        <a routerLink='/composeMessage/{{item.id}}' class="btn btn-sm back-4 color-1"> Send Message </a> &nbsp;&nbsp;
                        <button class="btn btn-sm back-red color-white" (click)='deleteUser(item.id)'> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>